/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora| Roboto") ;

/* Importing all components file */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");

/* General style rules for fonts and colours */
body {
font-family: 'Lora', sans-serif;
background-color: rgb(240, 240, 240) ;
margin: 0px;
}

a{
	text-decoration: none;
}
